<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSMicrophoneUsageDescription</key>
	<string>We use mic to record chore decription</string>
	<key>NSCameraUsageDescription</key>
	<string>Kitapi needs camera access to take a profile photo.</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>Kitapi needs photo library access to select a profile photo.</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>Urbanist-Black.ttf</string>
		<string>BagelFatOne-Regular.ttf</string>
		<string>Urbanist-ExtraBold.ttf</string>
		<string>Urbanist-Bold.ttf</string>
		<string>Urbanist-SemiBold.ttf</string>
		<string>Urbanist-Medium.ttf</string>
		<string>Urbanist-Regular.ttf</string>
		<string>Urbanist-Light.ttf</string>
		<string>BalsamiqSans-Bold.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
